<h1>
    Productos en tiempo real
    <p id="productsContainer">
        {{#each products}}
            <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </p>
</h1>
<script src="/socket.io/socket.io.js"></script>
<script src="/realTimeProducts.js"></script>